<header class="conteiner-nav">
  <nav class="conteiner-nav__nav">
    <ul class="nav__nav--lista">
      <li class="nav__nav--item logo"><a href="#"></a></li>
      <li class="nav__nav--item"><a href="#">Learn</a></li>
      <li class="nav__nav--item"><a href="#">Blog</a></li>
      <li class="nav__nav--item"><a href="#">Destaques</a></li>
    </ul>
    <ul class="nav__nav--lista">
      <li class="nav__nav--item"><a href="https://github.com/Nikaelson"><img class="nav--item--imagem" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github logo"></a></li>
      <li class="nav__nav--item"><a href="#"><img class="nav--item--imagem" src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="instagram logo"></a></li>
    </ul>
  </nav>
</header>
