<app-menu-title></app-menu-title>
<div class="conteudo">
  <div class="conteudo__principal">
    <app-big-card 
      Id="1"
      cardImagem="https://t.ctcdn.com.br/Gt1rS-K0TsxZxpWIPmMFO3Q9rvA=/512x288/smart/filters:format(webp)/i7966.jpeg"
      cardTitulo="ChatGPT: o que é e como atua a inteligência artificial da OpenAI"
      cardDescricao="Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem, ullam iusto officiis molestiae cumque iste dicta, quia dolorum excepturi, beatae vel ad quas voluptatem magnam similique cum. Molestiae, minus."
      ></app-big-card>
  </div>
  <div class="conteudo__outros">
    <app-small-card 
     Id="2"
      smallCardImagem="https://dkrn4sk0rn31v.cloudfront.net/uploads/2021/05/inje--o.jpg"
      smallCardTitulo=" Injeção de Dependência é um é um padrão de projeto usado para evitar o alto nível de acoplamento de código dentro de uma aplicação."
      ></app-small-card>
    <app-small-card
    Id="3"
      smallCardImagem="https://dkrn4sk0rn31v.cloudfront.net/2019/11/04105020/img-tdd.png"
      smallCardTitulo="TDD é uma sigla para Test Driven Development, ou Desenvolvimento Orientado a Testes. A ideia do TDD é que você trabalhe em ciclos."
    ></app-small-card>
    <app-small-card
    Id="4"
      smallCardImagem="https://miro.medium.com/max/800/1*YwvcdCHDwjFgVTV-26w1DA.jpeg"
      smallCardTitulo="Clean Code ou código limpo se refere a um conjunto de boas práticas na escrita de software que você pode aplicar para obter uma maior legibilidade e manutenabilidade do seu código."
    ></app-small-card>
  </div>
</div>
<!-- 
https://dkrn4sk0rn31v.cloudfront.net/uploads/2021/05/inje--o.jpg
https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg
https://miro.medium.com/max/800/1*YwvcdCHDwjFgVTV-26w1DA.jpeg
-->