/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

body {
  padding: 0 50px;
}

a {
  text-decoration: none;
}

small {
  display: block;
  padding: 5px;
}

@media screen and (max-width: 765px) {
  body {
    padding: 0 25px;
  }
}